{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}


{% block content %}
    <h1>Liste des utilisateurs</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Âge</th>
                <th>Date de naissance</th>
                <th>Téléphone</th>
            </tr>
        </thead>
        <tbody>
            {% for user in personnes %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.age }}</td>
                    <td>{{ user.datedenaissance ? user.datedenaissance|date('d/m/Y') : '' }}</td>
                    <td>{{ user.telephone }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
