{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Personne</h1>

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">Id:</div>
                    <div class="col-md-9">{{ personne.id }}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Prénom:</div>
                    <div class="col-md-9">{{ personne.firstname }}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Nom:</div>
                    <div class="col-md-9">{{ personne.lastname }}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Âge:</div>
                    <div class="col-md-9">{{ personne.age }}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Date de naissance:</div>
                    <div class="col-md-9">{{ personne.datedenaissance ? personne.datedenaissance|date('d/m/Y') : '' }}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Téléphone:</div>
                    <div class="col-md-9">{{ personne.telephone }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
